*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(img/autumn-leaf-falling-revealing-intricate-leaf-vein-generated-by-ai_188544-9869.avif);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color:orangered ;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.manu{
    width: 400px;
    float: left;
    height: 70px;
}
.manu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.manu ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
.manu ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.manu ul li a:hover{
    color: orangered;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background:#ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:white;

}

.container h1{
    font-size: 70px;
    margin-top: 80px;
}
.container p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.container button{
    padding: 10px;
}
 .container button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ff7200 ;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}